body {
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  background: lightblue;
}
.shop-png {
  margin: 0 auto;
  padding-left: 10px;
  top: 10px;
  left: 12px;
  width: 120px;
  border-radius: 85px;
}

.market-links {
  text-align: left;
  margin-bottom: 10px;
}

.market-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 10px;
}

h1 {
  display: block;
  width: fit-content;
  margin: 30px auto;

  font-size: 42px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;

  background: azure;
  padding: 15px 30px;
  border-radius: 25px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h2 {
  display: inline-block;

  margin: 40px 0 10px 40px;

  font-size: 22px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;

  background: azure;
  padding: 8px 18px;
  border-radius: 20px;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.info {
  text-align: center;
  margin: 20px 0;
  font-size: 15px;
  color: #333;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.product {
  width: 200px;
  padding: 18px;

  background: linear-gradient(rgb(168, 235, 255), rgb(142, 229, 251));
  border-radius: 15px;

  text-align: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.product:hover {
  transform: translateY(-6px);
}

.product p {
  margin: 6px 0;
  font-size: 15px;
}

.product small {
  font-size: 13px;
  color: #444;
}

.cart {
  background: white;
  border-radius: 25px;
  padding: 15px;
  margin: 60px auto;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 8px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  background: green;
  color: whitesmoke;
  font-size: 14px;
}

button:hover {
  opacity: 0.85;
}

button[disabled] {
  background: rgb(188, 77, 77);
  cursor: not-allowed;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #423f3f;
  font-size: 13px;
  padding: 95px;
}
